<% if user_signed_in? %>
  <% if post.already_liked?(current_user) %>
    <li>
      <%= link_to post_like_path(post), class: "post_action_btn post_liked", method: :delete do %>
        <i class="fas fa-heart"></i>
        <span><%= post.likes.count %></span>
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to post_likes_path(post), class: "post_action_btn", method: :post do %>
        <i class="far fa-heart"></i>
        <span><%= post.likes.count if post.likes.count > 0 %></span>
      <% end %>
    </li>
  <% end %>
<% else %>
  <li>
    <%= link_to post_likes_path(post), class: "post_action_btn", method: :post do %>
      <i class="far fa-heart"></i>
      <span><%= post.likes.count if post.likes.count > 0 %></span>
    <% end %>
  </li>
<% end %>